@using App.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppTrade</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppTrade.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    
     @* font-awesome *@
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    @* other .css *@
    <link rel="stylesheet" href="~/css/_post.css" />
    <link rel="stylesheet" href="~/css/_product.css" />
</head>

<body id="body-layout" style="padding-top: 70px;">
    <header>
        <nav id="header-layout" class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-info" asp-controller="Home" asp-action="Index">TradeShop</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i id="icon-mobile-bar" class="fas fa-bars"></i></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" id="dark-mode-button">
                                <i id="icon-dark-mode" class="fas"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Product" asp-controller="ViewProduct" asp-action="Index">
                                <i class="fas fa-shopping-cart"></i> Shop
                            </a>
                        </li>
                        @if(string.IsNullOrEmpty(UserManager.GetUserName(User)) == false)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Order" asp-controller="Order" asp-action="ViewOrder">
                                    <i class="fas fa-archive"></i> My Order
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            @await Html.PartialAsync("/Views/Shared/Partials/_CartPartial.cshtml")
                        </li>
                    </ul>

                    <partial name="/Views/Shared/Partials/_BellPartial.cshtml"></partial>
                    <partial name="/Views/Shared/Partials/_MenuManagePartial.cshtml"></partial>
                    <partial name="/Views/Shared/Partials/_LoginPartial.cshtml"></partial>
                    
                </div>
            </div>
        </nav>
    </header>
  
    <div id="container-layout" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <partial name="/Views/Shared/Partials/_NotifCart.cshtml"></partial>

    <footer id="footer-layout" class="footer" style="text-align:center">
        <div class="container">
            &copy; 2024 - AppTrade - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)

</body>
    
</html>

