@using App.Services
@inject SidebarAdminService _sidebarAdminService

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Control Panel";
}

<h1 class="text-center">Trang quản trị của Admin</h1>

@section Sidebar
{
    @Html.Raw(_sidebarAdminService.RenderHtml())
}
