html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-truncation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-a-red{
  text-decoration: none;
  color: red !important;
  &:hover{
    color: rgb(187, 90, 0) !important;
    text-decoration: none;
  }
}

.site-a-white {
  color: white !important;
  text-decoration: none;
  &:hover{
    color: aquamarine !important;
  }
}

.site-a-blue {
  color: rgb(63, 83, 231) !important;

  text-decoration: none;
  &:hover{
    color: blue !important;
    text-decoration: none;
  }
}

#app-item-menu-dropdown{
  color: black;
  &:hover{
    background-color: white;
  }
}

.view-dark{
  background-color: rgb(26, 26, 26);
  color: white;
}

.view-gray{
  background-color: rgb(53, 53, 53);
  color: white;
}




