@using App.Areas.Product.Models
@using App.Areas.Product.Models.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@inject IAuthorizationService authorizationService


@inject IHttpContextAccessor _httpContextAccessor
@inject CartService _cartService

@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
    @if (result.Succeeded)
    {
        var cart = _cartService.GetCartItems();
        @* asp-route="cart" thuc hien action Cart trong ViewProductController.cs *@
        <div id="cart-partial" class="nav-item">
            @if(cart.Count > 0)
            {   
                <a class="link-danger mx-2" style="text-decoration: none;"
                    asp-area="Product" asp-controller="ViewProduct" asp-action="Cart">
                    <i class="fas fa-shopping-cart"> Giỏ hàng(@cart.Count) </i>
                </a>
            }
            
        </div> 
    }
}

