@using Microsoft.AspNetCore.Identity
@using App.Models

@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService authorizationService


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject AppDbContext _context

@{
    var user = await UserManager.GetUserAsync(User);
    var srcImg = "";
    if (user != null)
    {
        var avtUser = _context.UserAvatars.Where(a => a.UserID == user.Id).FirstOrDefault();
        if (avtUser != null)
            srcImg = $"/contents/AvatarUsers/{avtUser.AvatarName}";
        else
            srcImg = "/contents/noUser.png";
    }

    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="login-avt-user" src=@srcImg width="30" height="30" alt="...">
                    <span>@UserManager.GetUserName(User)</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item text-center cursor-change border" 
                            asp-area="Identity" asp-controller="Manage" asp-action="Index" title="Manage">Profile </a>
                    </li>
                    <li>
                        @if (result.Succeeded){
                            <a class="dropdown-item text-center cursor-change border" 
                                asp-controller="AdminCP" asp-action="Index" asp-area="AdminControlPanel">
                                    <i class="fas fa-cog"></i> Manager</a>
                        }
                    </li>
                    <li>
                        <a class="dropdown-item text-center cursor-change border"
                            asp-area="Order" asp-controller="Order" asp-action="ViewOrder">
                                <i class="fas fa-archive"></i> My Order</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item align-items-center d-flex">
                <button id="btn-logoff-layout" title="Đăng xuất" type="submit" class="btn btn-sm btn-danger nav-btn">
                    <i class="fas fa-sign-out-alt" style="color: white;"></i>
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item ps-1">
            <a class="nav-link site-a-white" asp-area="Identity" asp-controller="Account" asp-action="Register">
                <i class="far fa-registered"></i> Register
            </a>
        </li>
        
        <li class="nav-item ps-1">
            <a class="nav-link site-a-white" asp-area="Identity" asp-controller="Account" asp-action="Login">
                <i class="fas fa-sign-in-alt"></i> Login
            </a>
        </li>
    </ul>
}