@using Microsoft.AspNetCore.Identity
@using App.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject AppDbContext _context

@{
    var user = await UserManager.GetUserAsync(User);
    var srcImg = "";
    if (user != null)
    {
        var avtUser = _context.UserAvatars.Where(a => a.UserID == user.Id).FirstOrDefault();
        if (avtUser != null)
            srcImg = $"/contents/AvatarUsers/{avtUser.AvatarName}";
        else
            srcImg = "/contents/noUser.png";
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="navbar-brand navbar-link site-a-white" asp-area="Identity"  asp-controller="Manage" asp-action="Index" title="Manage">
                    <img id="login-avt-user" src=@srcImg width="30" height="30" alt="...">
                    @UserManager.GetUserName(User)
                </a>
            </li>
            <li class="nav-item">
                <button title="Đăng xuất" type="submit" class="btn btn-link btn-danger navbar-btn navbar-link">
                    <i class="fas fa-sign-out-alt" style="color: white;"></i>
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item ps-1">
            <a class="nav-link site-a-white" asp-area="Identity" asp-controller="Account" asp-action="Register">
                <i class="far fa-registered"></i> Register
            </a>
        </li>
        
        <li class="nav-item ps-1">
            <a class="nav-link site-a-white" asp-area="Identity" asp-controller="Account" asp-action="Login">
                <i class="fas fa-sign-in-alt"></i> Login
            </a>
        </li>
    </ul>
}